@font-face {
  font-family: "Agustina Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Agustina Regular"),
    url("./assets/fonts/Agustina.woff") format("woff");
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url("./assets/fonts/Montserrat-Regular.ttf") format("woff");
}
@font-face {
  font-family: "Google Sans Bold";
  src: local("Google Sans Bold"),
    url("./assets/fonts/GoogleSans-Bold.ttf") format("woff");
}
@font-face {
  font-family: "Google Sans Bold Italic";
  src: local("Google Sans Bold Italic"),
    url("./assets/fonts/GoogleSans-BoldItalic.ttf") format("woff");
}
@font-face {
  font-family: "Google Sans Italic";
  src: local("Google Sans Italic"),
    url("./assets/fonts/GoogleSans-Italic.ttf") format("woff");
}
@font-face {
  font-family: "Google Sans Medium";
  src: local("Google Sans Medium"),
    url("./assets/fonts/GoogleSans-Medium.ttf") format("woff");
}
@font-face {
  font-family: "Google Sans Medium Italic";
  src: local("Google Sans Medium Italic"),
    url("./assets/fonts/GoogleSans-MediumItalic.ttf") format("woff");
}
@font-face {
  font-family: "Google Sans Regular";
  src: local("Google Sans Regular"),
    url("./assets/fonts/GoogleSans-Regular.ttf") format("woff");
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  margin: 0;
  font: 19px / 23px Montserrat, "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Media Query */
@media (max-width: 1380px) {
  html,
  body {
    font-size: 16px;
    line-height: normal;
  }
}
.custom-upwork::before {
  content: "";
  display: inline-block;
  width: 1.1em;
  height: 1.1em;
  vertical-align: middle;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='%23ffffff'%3E%3Cpath d='M396.6 153.8c-29.4 0-54.8 14.5-70.1 36.5-12.7-27.2-24-57.5-31.5-89.8h-48.4v158c0 31.7-25.7 57.5-57.5 57.5s-57.5-25.7-57.5-57.5V99.8H83.2v100.6c0 58.5 47.6 106 106 106 58.5 0 106-47.6 106-106v-13.6c11.1 27.6 26.6 51.5 45.4 71.4l-25.4 97H366l20.4-78.5c19.4 1.8 38.6-3.8 55.4-15.5 35.7-24.8 47.5-73.8 26.5-109.8-12.6-21.6-35.8-35.2-61.7-37.6zM399 240.2c-15.6 10.3-36.2 12.3-53.5 5l12.4-47.3c2.7-.4 5.4-.5 8.1-.5 25.1 0 45.5 20.4 45.5 45.5 0 11.2-4.1 21.9-12.5 29.3z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
